# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# data files
*.tsv

# plot files
*.png
*.tiff
*.pdf

# output folders
output/
