# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/

# data files - temporary until completed
*.tsv

# plot files - temporary until completed
*.png
*.tiff
*.pdf
*.2bit # ignore reference

